html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a{
    color: #29AAE2;
}

.container {
max-width: 960px;
}

.card-header img{
    width: 40px;
}

.card-deck .card {
    min-width: 220px;
}

.ssb{
    width: 50px;
}

.btn-primary{
    color: #fff;
    background-color: #29AAE2;
    border-color: #29AAE2;
}

.btn-primary:hover{
    color: #fff;
    background-color: #54bbe8;
    border-color: #54bbe8;
}


.btn-outline-primary{
    color: #29AAE2;
    border-color: #29AAE2;
}

.btn-outline-primary:hover{
    color: #FFF;
    background-color: #54bbe8;
    border-color: #54bbe8;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #29AAE2;
}

.star{
    width: 20px;
}